@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
/*Font Descargada*/
@font-face {
  font-family: "poppins";
  src: url("../assets/fonts/Poppins-SemiBold.ttf");
}
.nav-menu li:last-child {
  background: rgb(143, 122, 17);
}

body {
  background-color: black;
  font-family: "Poppins", sans-serif;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

.logo-header img {
  width: 50px;
}

.nav-menu ul {
  display: flex;
  align-items: center;
}

.nav-menu li {
  margin-right: 1rem;
  list-style: none;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
  list-style: none;
}

.nav-menu li:last-child {
  background: rgb(143, 122, 17);
  padding: 0.25rem 0.75rem;
  border-radius: 0.2rem;
}

.menu-icon img {
  width: 30px;
  height: 30px;
  border-radius: 2px;
}

.menu-icon, #check {
  display: none;
}

@media (max-width: 768px) {
  .checkbtn {
    display: block;
  }
  .menu-icon {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  .nav-menu ul {
    display: block;
    position: fixed;
    top: 70px;
    left: -100%;
    background: #222;
    width: 100%;
    height: 100vh;
    right: 0;
  }
  .nav-menu ul li {
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .nav-menu ul li:last-child {
    background: none;
    padding: 1rem;
  }
  #check:checked ~ ul {
    left: 0;
    transition: all 0.25s;
  }
}
h1 {
  color: rgb(143, 122, 17);
  font-size: 75px;
  letter-spacing: 2px;
  font-family: "Trebuchet MS";
}

h2 {
  color: white;
  text-align: center;
}

.parrafo {
  color: white;
}

.imagen {
  background-color: black;
  background-attachment: fixed;
  color: white;
  align-items: center;
}

.Planes {
  color: rgb(143, 122, 17);
  font-size: 5rem;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  align-items: center;
}

.card-section {
  display: grid;
  gap: 1.75rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  align-items: center;
}

.card {
  background-color: rgb(163, 163, 104);
  padding: 1.75rem;
  border-radius: 1.75rem;
  display: flex;
  flex-wrap: wrap;
}

.card .card-header {
  flex-basis: 100%;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.card .card-body {
  flex-basis: 100%;
  margin-top: 1.2rem;
}

.card .card-body p {
  margin: 0;
}

.card .card-body a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 0.7rem 1.75rem;
  border: 1px solid transparent;
  background-color: rgb(143, 122, 17);
  border-radius: 1.75rem;
  margin-top: 1.2rem;
  transition: background-color 0.4s ease-in, color 0.4s ease-in;
}

.card .card-body a:hover {
  background-color: transparent;
  border-color: rgb(143, 122, 17);
  color: white;
}

.card .card-footer {
  flex-basis: 100%;
  align-self: flex-end;
  text-align: end;
  font-size: 0.8rem;
}

.imagen2 {
  background-color: black;
  background-attachment: fixed;
}

.maps {
  align-items: center;
}

.imagen4 {
  background-color: black;
  background-size: 100%;
  background-attachment: fixed;
}

.form1 {
  background-image: url(../images/boxed-water-is-better-P4AIjQw1BuY-unsplash.jpg);
  background-size: 100%;
}

.label1 {
  color: rgb(179, 172, 139);
}

.somos {
  text-align: center;
  color: rgb(143, 122, 17);
  font-size: 3rem;
}

.h4 {
  color: rgb(143, 122, 17);
}

.legend {
  color: rgb(143, 122, 17);
}

.th {
  color: rgb(143, 122, 17);
  font-weight: bold;
  font-size: 18px;
}

.table {
  background-color: black;
}

.testimonios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.testimonios_header {
  margin: 50px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonios_header h1 {
  font-size: 2.9rem;
  font-weight: 500;
  background-color: black;
  color: white;
  padding: 10px 20px;
}

.testimonios_header span {
  font-size: 2.2rem;
  color: rgb(143, 122, 17);
  margin-bottom: 25px;
  text-transform: uppercase;
}

.testimonios_contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.testimonios_caja {
  width: 500px;
  box-shadow: 2px 2px 30px black;
  background-color: white;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.perfil-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px;
}

.perfil-img img {
  width: 100%;
  height: 100%;
  object-fit: center;
}

.perfil {
  display: flex;
  align-items: center;
}

.name-user {
  display: flex;
  flex-direction: column;
}

.name-user strong {
  color: black;
  font-size: 3.3rem;
}

.name-user span {
  color: gray;
}

.reseñas {
  color: yellow;
}

.caja-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.comentarios_clientes p {
  color: rgb(143, 122, 17);
}

.imgnoso {
  width: 100%;
}

.manpes {
  max-width: 100%;
}

.h1 {
  text-align: center;
  font-size: 150px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.h11 {
  font-size: 120px;
  font-weight: bold;
}

.blab {
  width: 100%;
}

.ind {
  text-align: center;
}

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

.imagen3 {
  background-color: black;
  background-attachment: fixed;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.content1 {
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  padding-top: 10px;
  background: rgb(163, 163, 104);
}

.uj {
  width: 50%;
  height: 50%;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.ujo {
  text-align: center;
  color: white;
  padding-top: 0 8px;
}

h6 {
  font-size: 25px;
  text-align: center;
  color: rgba(180, 25, 25, 0.3);
  margin: 0;
}

.sta {
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 0;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
}

.logo {
  text-align: center;
  font-size: 3em;
}

.logo span {
  color: #B70E21;
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background: #222222;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1/3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #d63031;
}

.contact-form form button {
  background: #B70E21;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #d63031;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

.white {
  color: #fff;
}

/* CONTACT INFO */
.contact-info {
  background: rgb(184, 210, 82);
}

.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* LARGE SIZE */
@media (min-width: 700px) {
  body {
    padding: 0 4em;
  }
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: left;
  }
}
nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: "Montserrat", sans-serif;
  padding: 0 5%;
  height: 100px;
  background-color: black;
}

nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 43px;
  color: rgb(143, 122, 17);
}

nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .links li {
  list-style: none;
}

nav .links a {
  display: block;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

#nav-toggle {
  position: absolute;
  top: -100px;
}

nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }
  nav .links a {
    font-size: 20px;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
}
.container5 {
  width: 700px;
}

.video-responsive {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=estilos.css.map */




footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(52, 55, 42);
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: white;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;

}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  color: black;

}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: white;
}

.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;
}

.socials a:hover i{
  color: rgb(132, 151, 44);
}

.footer-bottom{
  background-color: black;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

.ui-card{
	width: 350px;
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease-out;
	background:radial-gradient(#111 50%, #000 100%);
}

.ui-card img{
	transform: scale(1.3);
	transition: all 0.3s ease-out;
}
.ui-card:hover img{
	transform: scale(1.1) translateY(-20px); 
	opacity: 0.3
}
.ui-card .description{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 15px;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 18px;
}
.ui-card .description h3{
	font-weight: 700;
	font-size: 32px;
	margin: 0 0 20px;
	transform: translateY(30px);
	opacity: 0;
	transition: all 0.3s ease-out;

}
.ui-card .description p{
	transform: translateY(30px);
	opacity: 0;
	transition: all 0.3s ease-out 0.2s;
}
.ui-card .description a{
	color: #fff;
	background:#686a30;
	display: inline-block;
	padding: 10px 25px;
	border-radius: 5px;
	text-decoration: none;
	transform: translateY(30px);
	opacity: 0;
	transition: all 0.3s ease-out 0.4s;
}
.ui-card .description a:hover{
	background:#272b16;
}
.ui-card:hover .description h3{
	opacity: 1;
	transform: translateY(0px);
}
.ui-card:hover .description p{
	opacity: 1;
	transform: translateY(0px);
}
.ui-card:hover .description a{
	opacity: 1;
	transform: translateY(0px);
}

img{
	max-width: 100%;
}

.wrapper {
  display: flex;
  width: 90%;
  justify-content: space-around;
}

.cardu {
  width: 280px;
  height: 360px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
.cardu:hover {
  transform: translateY(20px);
}
.cardu:hover:before {
  opacity: 1;
}
.cardu:hover .info {
  opacity: 1;
  transform: translateY(0px);
}
.cardu:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}
.cardu img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}
.cardu .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}
.cardu .info h1 {
  margin: 0px;
}
.cardu .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}
.cardu .info button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}
.cardu .info button:hover {
  background: dodgerblue;
  color: white;
}

.imagen7{
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}